.clock-container {
  width: 500px;
  height: 500px;
  background-color: orangered;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outer-clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inner-clock {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: darkgray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#hour-hand {
  width: 50px;
  height: 150px;
  border-radius: 25px;
  background-color: black;
  position: absolute;
  left: 200px;
  top: 100px;
  border: 2px white solid;
  transform-origin: center 125px;
  transform: rotateZ(0);
}

#min-hand {
  width: 50px;
  height: 250px;
  border-radius: 25px;
  background-color: black;
  position: absolute;
  left: 200px;
  top: 0px;
  border: 2px white solid;
  transform-origin: center 225px;
  transform: rotateZ(0deg);
}
